body {
  background-image: url(/images/mixer-1.jpg);
  margin: auto;

}

.top {
  background-color: #a0c1b8;
  border-bottom: 5px solid #f4e8c1;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 0px;

}

.nav,
.title {
  border: 0px white solid;
  width: 49.5%;
  display: inline-block;
  text-align:center;
}

.nav {
  height: 75px;
  text-align: right;
}

.nav-anchors:hover{
  text-decoration: none;
}

.nav-icon {
  height: 40px;
  border: 0px solid white;
  margin: 5px;
  transition-duration: 1s;
}

.nav-icon:hover {
  transform: scale(1.5);
}

h1 {
  display: inline;
  position: relative;
  font: 75px 'Nunito Sans', sans-serif;
  border: 1px solid white;
  letter-spacing: -1.25px;
  color: #52699f;
  text-shadow: 5px 3px #709fb0;

}

.navbar {
  background-color: black;
  border: none;
  margin: auto;
  padding: 20px;
  border-radius: 20px;

}

.sidebar-link {

}

.sidebar-link {
  text-decoration: none;

}

.wrapper {
  width: 75%;
  border: 1px black solid;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  background-color: #a0c1b8;
  border-radius: 20px;
  height:auto;


}

.boxes {
  display: inline-block;
  width: 40%;
  border: 0px black solid;
  text-align: center;
  padding:15px;
  margin: 30px;
  overflow: auto;
}

h2 {
  color:#52699f;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: underline;
  font-size: 50px;
  letter-spacing: -1.25px;
  text-shadow: 5px 3px #709fb0;
  font-weight: 800;

}

p,
a,
footer {
  font-family: 'Nunito Sans', sans-serif;
  color:#52699f;
  text-decoration: none;
}

.links {
  font-size: 40px;
  color:#f4e8c1;
  border: 0px white solid;
  height: 500px;
  background-color: #52699f;
  padding:5px;
  margin-top: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;

}

.links:hover {
color:white;
text-decoration: none;

}

.zoom {
  transition: all 0.5s;
  max-width: 90%;
  max-height: 90%;
  border: 3px #f4e8c1 solid;
  border-radius: 10px;
}

.zoom:hover {
  transform: scale(1.02);
}

.aboutme {
  height:500px;

}

.piclinks {
  height: 500px;
  line-height: 50px;
}

.footer {
  width:100%;
  bottom: 0;
  text-align: center;
  background-color: #a0c1b8;
  padding: 25px;
  border-top: 5px #f4e8c1 solid;
  position: absolute;
  border-radius: 20px;
}
