
footer {
  width:100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgb(233,236,239);
  padding: 2% 0% 2% 0%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(233,236,239);
}
